{% extends "carmechanic/layout.html" %} 

{% block body %}
{% load static %}

	<div class="container mt-2">
        <br>
        <h5 class="card-title mt-3 mb-3">User Information:</h5>
        <br>
        <h6 class="card-title mt-3 mb-3"> Name : {{ user.username }} </h6>
        <h6 class="card-title mt-3 mb-3"> E-mail : {{ user.email }} </h6>
        <h6 class="card-title mt-3 mb-3">Registration Date: January 1, 2020</h6>
        </div>
              
          </div>
          <br>
        </div>
        <!-- Button trigger modal -->
        {% endblock %}